{% extends "main/base.html" %}
{% load static %}


{% block content %}
{% comment %} Контент страницы вакансии {% endcomment %}

<div class="container">
    <section class="ad-details">
        <h2>Услуги квалифицированного слесаря</h2>
        <p>Предлагаю услуги опытного слесаря по ремонту и обслуживанию оборудования. Быстро и качественно выполним слесарные работы любой сложности.</p>
        <p>Цена: 5000 руб.</p>
        <div class="ad-photos">
            <img src="bike1.jpg" alt="Фото работы">
            <img src="bike2.jpg" alt="Фото работы">
        </div>
        <p>Опубликовано: <a href="#">Иван Иванов</a></p>
        <p>Электронная почта: <a href="email:ivanov@example.com">ivanov@example.com</a></p>
        <p>Телефон: <a href="tel:+7-123-456-7890">+7 (123) 456-78-90</a></p>
    </section>
</div>

{% endblock %}