{% extends "main/base.html" %}
{% load static %}


{% block content %}
{% comment %} Контент главной страницы вакансий {% endcomment %}

<div class="container">
    <section id="ads">
        <h2>Поиск услуг</h2>
        <form id="filter-form">
            <div class="filter-group">
                <label for="filter-keywords">Ключевые слова:</label>
                <input type="text" id="filter-keywords" name="filter-keywords">
            </div>
            <div class="filter-group">
                <label for="filter-min-price">Минимальная цена:</label>
                <input type="number" id="filter-min-price" name="filter-min-price">
            </div>
            <div class="filter-group">
                <label for="filter-max-price">Максимальная цена:</label>
                <input type="number" id="filter-max-price" name="filter-max-price">
            </div>
            <button type="submit">Найти!</button>
        </form>

        <div id="ads-list">
            {% for vacancy in vacancies %}
                <div class="ad-item">
                    <h3><a href="#">{{ vacancy.name }}</a></h3>
                    <p>{{ vacancy.description }}</p>
                    <p>Срок: <b>{{ vacancy.make_time }}</b></p>
                    <p>Стоимость: <b>{{ vacancy.price }}</b> руб.</p>
                    <div class="ad-photos">
                        {% if vacancy.image %}
                            <img src="{{ vacancy.image.url }}" alt="Фото объявления">
                        {% else %}
                            <img src="{% static "img/img_not_found.png" %}" alt="Фото объявления">
                        {% endif %}
                    </div>
                    <p>Опубликовано: {{ vacancy.author_link }}
                </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}