{% extends "base.html" %}
{% load static %}


{% block content %}
{% comment %} Контент главной страницы вакансий {% endcomment %}

<div class="container">
    <section id="ads">
        <h2>Поиск услуг</h2>
        <form id="filter-form" method="get" action="{% url "vacancies:search" %}">
            <div class="filter-group filter-group-search">
                <label for="filter-keywords">Ключевые слова:</label>
                <input class="form-control me-2" type="search" id="filter-keywords" name="q" placeholder="Найти">
            </div>
            <p style="margin-bottom: 5px;">Сортировать:</p>
            <div class="filter-group filter-group-order form-check mx-3">
                <input class="form-check-input" type="radio" name="order_by" value="default"
                {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                <label class="form-check-label" for="order_by">По умолчанию</label>
            </div>
            <div class="filter-group filter-group-order form-check mx-3">
                <input class="form-check-input" type="radio" name="order_by" value="price"
                {% if request.GET.order_by == 'price' %}checked{% endif %}>
                <label class="form-check-label" for="order_by">От дешевых к дорогим</label>
            </div>
            <div class="filter-group filter-group-order form-check mx-3">
                <input class="form-check-input" type="radio" name="order_by" value="-price"
                {% if request.GET.order_by == '-price' %}checked{% endif %}>
                <label class="form-check-label" for="order_by">От дорогих к дешевым</label>
            </div>
            <button class="btn btn-outline-warning" type="submit">Поиск</button>
        </form>

        {% if request.GET.q %}
            <h3>Результаты поиска по запросу "{{ request.GET.q }}"</h3>
        {% endif %}
        {% if not vacancies %}
            <link rel="stylesheet" href="{% static "css/my_footer_css.css" %}">
            <h2>По вашему запросу ничего не найдено</h2>
        {% endif %}

        <div id="ads-list">
            {% for vacancy in vacancies %}
                <div class="ad-item">
                    <a href="{% url "vacancies:vacancy" vacancy.slug %}">
                        <h3>
                            {% autoescape off %}
                                {% if vacancy.headline %}
                                    {{ vacancy.headline }}
                                {% else %}
                                    {{ vacancy.name }}
                                {% endif %}
                            {% endautoescape %}
                        </h3>
                    </a>
                    <p>
                        {% autoescape off %}
                            {% if vacancy.bodyline %}
                                {% comment %}
                                    В след. строке ошибка: если показывать vacancy.bodyline, 
                                    то в результате будет в описании начинаться с поискового слова. 
                                {% endcomment %}
                                {{ vacancy.description|truncatechars:55 }}
                            {% else %}
                                {{ vacancy.description|truncatechars:55 }}
                            {% endif %}
                        {% endautoescape %}
                    </p>
                    {% if vacancy.make_time %}
                        <p>Срок: <b>{{ vacancy.make_time }}</b></p>
                    {% endif %}
                    <p>Стоимость: <b>{{ vacancy.price }}</b> руб.</p>
                    <div class="ad-photos">
                        {% if vacancy.image %}
                            <img src="{{ vacancy.image.url }}" alt="Фото объявления">
                        {% else %}
                            <img src="{% static "img/img_not_found.png" %}" alt="Фото объявления">
                        {% endif %}
                    </div>
                    <p style="margin-top: 5px;">Автор: {{ vacancy.user }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}