{% extends "base.html" %}
{% load static %}


{% block content %}
{% comment %} Контент страницы вакансии {% endcomment %}

<div class="container">
    <section class="ad-details">
        <h2>{{ vacancy.name }}</h2>
        <p>{{ vacancy.description }}</p>
        <p>Срок: <b>{{ vacancy.make_time }}</b></p>
        <p>Стоимость: <b>{{ vacancy.price }}</b> руб.</p>
        <div class="ad-photos">
            {% if vacancy.image %}
                <img src="{{ vacancy.image.url }}" alt="Фото объявления">
            {% else %}
                <img src="{% static "img/img_not_found.png" %}" alt="Фото объявления">
            {% endif %}
        </div>

        <p style="margin-top: 5px;">Автор: <a href="#">Иван Иванов</a></p>
        
        <p>Электронная почта: <a href="email:ivanov@example.com">ivanov@example.com</a></p>
    </section>
</div>

{% endblock %}