{% extends "main/base.html" %}
{% load static %}


{% block css %}
    {% comment %} Стили, картинки, скрипты и тп. подгружать следующим образом: {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static "css/style.css" %}"> {% endcomment %}
{% endblock %}

{% block content %}
    {% comment %} Контент главной страницы {% endcomment %}
    {% for vacancy in vacancies %}
        {% comment %} Шаблон вакансии {% endcomment %}
        <div>
            <h2>{{ vacancy.name }}</h2>
            <p>{{ vacancy.description }}</p>
            <span>{{ vacancy.price }}</span>
        </div>
    {% endfor %}
{% endblock %}