{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <section class="form-section">
        <h2 style="margin-top: 1rem; margin-bottom: 2rem;">Авторизация</h2>
        <form action="{% url "user:login" %}" method="post" id="login-form">
            {% csrf_token %}

            <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
            {{ form.username }}
            
            <label for="{{ form.password.id_for_label }}">Пароль:</label>
            {{ form.password }}

            {% comment %} <label for="login-username">Имя пользователя:</label>
            <input type="text" id="login-username" name="login-username" required>
            
            <label for="login-password">Пароль:</label>
            <input type="password" id="login-password" name="login-password" required> {% endcomment %}
            
            <button class="btn btn-outline-warning" type="submit">Войти</button> 
        </form>
        <p style="margin-top: 1rem;"><a href="#">Забыли пароль?</a></p>
        <p style="margin-top: -0.5rem;">Впервые на нашем сайте? <a href="{% url "user:registration" %}">Создать аккаунт</a></p>
    </section>
</div>

{% endblock %}