{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <section id="profile" style="display: flex; justify-content: space-between;">
        <div id="profile-info">
            <h3 style="margin-bottom: 1.5rem;">Профиль</h3>
            <form action="{% url "user:profile" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-md-8">
                    <div id="user-avatar">
                        {% if user.image %}
                            <img src="{{ user.image.url }}" alt="Аватар пользователя" style="max-width: 150px;">
                        {% else %}
                            <img src="{% static "img/baseavatar.jpg" %}" alt="Аватар пользователя" style="max-width: 150px;">
                        {% endif %}
                    </div>
                    <input type="file" accept="image/*" id="id_image" name="image">
                    {% if form.image.errors %}
                        <div class="alert alert-danger">{{ form.image.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="col-md-12" style="display: flex; justify-content: space-between;">
                    <div class="col-md-5">
                        <label for="id_username">Никнейм*</label>
                        <input type="text" id="id_username" name="username" required placeholder="Введите имя пользователя" value="{{ form.username.value }}">
                        {% if form.username.errors %}
                            <div class="alert alert-danger">{{ form.username.errors }}</div>
                        {% endif %}
            
                        <label for="id_last_name">Фамилия*</label>
                        <input type="text" id="id_last_name" name="last_name" required placeholder="Введите вашу фамилию" value="{{ form.last_name.value }}">
                        {% if form.last_name.errors %}
                            <div class="alert alert-danger">{{ form.last_name.errors }}</div>
                        {% endif %}
            
                        <label for="id_first_name">Имя*</label>
                        <input type="text" id="id_first_name" name="first_name" required placeholder="Введите ваше имя" value="{{ form.first_name.value }}">
                        {% if form.first_name.errors %}
                            <div class="alert alert-danger">{{ form.first_name.errors }}</div>
                        {% endif %}
            
                        <label for="id_patronymic">Отчество</label>
                        <input type="text" id="id_patronymic" name="patronymic" placeholder="Введите ваше отчество" value="{% if form.patronymic.value %}{{ form.patronymic.value }}{% endif %}">
                    </div>
                    
                    <div class="col-md-5">
                        <label for="id_city">Город*</label>
                        <input type="text" id="id_city" name="city" required placeholder="Введите ваш город" value="{{ form.city.value }}">
                        {% if form.city.errors %}
                            <div class="alert alert-danger">{{ form.city.errors }}</div>
                        {% endif %}
                        
                        <label for="id_profession">Профессия*</label>
                        <input type="text" id="id_profession" name="profession" required placeholder="Введите вашу профессию" value="{{ form.profession.value }}">
                        {% if form.profession.errors %}
                            <div class="alert alert-danger">{{ form.profession.errors }}</div>
                        {% endif %}
        
                        <label for="id_work_experience">Стаж работы*</label>
                        <input type="text" id="id_work_experience" name="work_experience" required placeholder="Введите ваш стаж работы" value="{{ form.work_experience.value }}">
                        {% if form.work_experience.errors %}
                            <div class="alert alert-danger">{{ form.work_experience.errors }}</div>
                        {% endif %}
                        
                        <label for="id_email">Электронная почта*</label>
                        <input type="email" id="id_email" name="email" required placeholder="Введите ваш email" value="{{ form.email.value }}">
                        {% if form.email.errors %}
                            <div class="alert alert-danger">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                
                <label for="id_self_info">О себе</label>
                <input type="text" id="id_self_info" name="self_info" placeholder="Введите дополнительную информацию о себе" value="{% if form.self_info.value %}{{ form.self_info.value }}{% endif %}">
                    
                <button class="btn btn-outline-warning">Сохранить</button>
            </form>
        </div>

        <div class="col-md-6">
            <h3>Услуги</h3>
            <div id="user-ads-list">
                <div class="ad-item">
                    <h3>Услуги квалифицированного слесаря</h3>
                    <p>Предлагаю услуги опытного слесаря по ремонту и обслуживанию оборудования. Быстро и качественно выполним слесарные работы любой сложности.</p>
                    <p>Цена: 5003 руб.</p>
                    <div class="ad-photos">
                        <img src="#" alt="Фото объявления">
                        <img src="#" alt="Фото объявления">
                    </div>
                </div>
                <button class="delete-btn">Удалить</button>
            </div>
        </div>
    </section>
</div>

{% endblock %}