{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <section class="form-section">
        <h2 style="margin-bottom: -1rem;">Регистрация</h2>
        <form action="{% url "user:registration" %}" method="post" id="update-profile-form" class="form-section">
            {% csrf_token %}
            
            <label for="id_username">Имя пользователя*</label>
            <input type="text" id="id_username" name="username" required placeholder="Введите имя пользователя" value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
            {% if form.username.errors %}
                <div class="alert alert-danger">{{ form.username.errors }}</div>
            {% endif %}
            
            <label for="id_password1">Пароль*</label>
            <input type="password" id="id_password1" name="password1" required placeholder="Введите пароль" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}">
            {% if form.password1.errors %}
                <div class="alert alert-danger">{{ form.password1.errors }}</div>
            {% endif %}

            <label for="id_password2">Повторите пароль*</label>
            <input type="password" id="id_password2" name="password2" required placeholder="Повторите пароль" value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">
            {% if form.password2.errors %}
                <div class="alert alert-danger">{{ form.password2.errors }}</div>
            {% endif %}

            <label for="id_first_name">Имя*</label>
            <input type="text" id="id_first_name" name="first_name" required placeholder="Введите ваше имя" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
            {% if form.first_name.errors %}
                <div class="alert alert-danger">{{ form.first_name.errors }}</div>
            {% endif %}

            <label for="id_last_name">Фамилия*</label>
            <input type="text" id="id_last_name" name="last_name" required placeholder="Введите вашу фамилию" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
            {% if form.last_name.errors %}
                <div class="alert alert-danger">{{ form.last_name.errors }}</div>
            {% endif %}

            <label for="id_patronymic">Отчество (оставьте пустым, если нет)</label>
            <input type="text" id="id_patronymic" name="patronymic" placeholder="Введите ваше отчество" value="{% if form.patronymic.value %}{{ form.patronymic.value }}{% endif %}">
            {% if form.patronymic.errors %}
                <div class="alert alert-danger">{{ form.patronymic.errors }}</div>
            {% endif %}

            <label for="id_email">Электронная почта*</label>
            <input type="email" id="id_email" name="email" required placeholder="Введите ваш email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
            {% if form.email.errors %}
                <div class="alert alert-danger">{{ form.email.errors }}</div>
            {% endif %}

            <label for="id_city">Город*</label>
            <input type="text" id="id_city" name="city" required placeholder="Введите ваш город" value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
            {% if form.city.errors %}
                <div class="alert alert-danger">{{ form.city.errors }}</div>
            {% endif %}

            <label for="id_profession">Профессия*</label>
            <input type="text" id="id_profession" name="profession" required placeholder="Введите вашу профессию" value="{% if form.profession.value %}{{ form.profession.value }}{% endif %}">
            {% if form.profession.errors %}
                <div class="alert alert-danger">{{ form.profession.errors }}</div>
            {% endif %}

            <label for="id_work_experience">Стаж работы (в годах)*</label>
            <input type="text" id="id_work_experience" name="work_experience" required placeholder="Введите ваш стаж работы" value="{% if form.work_experience.value %}{{ form.work_experience.value }}{% endif %}">
            {% if form.work_experience.errors %}
                <div class="alert alert-danger">{{ form.work_experience.errors }}</div>
            {% endif %}
            
            <button class="btn btn-outline-warning" type="submit">Зарегистрироваться</button>
        </form>
    </section>
</div>

{% endblock %}