{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <section id="about-us">
        <h2>О нашей компании</h2>
        <p>Добро пожаловать на First Unicorn! Мы специализируемся на предоставлении услуг в сфере механообработки, слесарного и токарного дела. Наша миссия - соединить профессионалов и заказчиков, предоставляя удобный и эффективный способ найти лучшие предложения на рынке.</p>
        <p>FirstUnicorn была основана в 2024 году с целью создания удобной и надежной площадки для обмена услугами. Мы стремимся обеспечить нашим пользователям безопасные и эффективные методы поиска подходящей услуги, а также предоставлять отличную поддержку.</p>
        <p>Наши ключевые ценности:</p>
        <ul>
            <li>Прозрачность и честность</li>
            <li>Удобство использования</li>
            <li>Безопасность</li>
            <li>Ориентированность на клиента</li>
        </ul>
        <p>Мы постоянно работаем над улучшением нашего сервиса и добавлением новых функций, чтобы сделать ваш опыт работы с нашей платформой еще лучше. Спасибо, что выбрали FirstUnicorn!</p>
        <h3>Контакты</h3>
        <p>Электронная почта: support@firstunicorn.com</p>
        <p>Телефон: <a href="tel:+7-123-456-7890">+7 (123) 456-78-90</a></p>
        <p>Адрес: г. Екатеринбург, ул. Мира, д. 19</p>
    </section>
    <section id="team">
        <h2>Наша команда</h2>
        <div class="team-wraper">
            <div class="team-member">
                <img src="{% static "img/team1.jpg" %}" alt="Фотография члена команды">
                <h3>Волик Алексей</h3>
                <p>Тим-лидер, программист</p>
            </div>
            <div class="team-member">
                <img src="{% static "img/team2.jpg" %}" alt="Фотография члена команды">
                <h3>Новиков Артемий</h3>
                <p>Программист</p>
            </div>
            <div class="team-member">
                <img src="{% static "img/team3.jpg" %}" alt="Фотография члена команды">
                <h3>Кривоногов Егор</h3>
                <p>Дизайнер</p>
            </div>
            <div class="team-member">
                <img src="{% static "img/team4.jpg" %}" alt="Фотография члена команды">
                <h3>Харин Кирилл</h3>
                <p>Дизайнер</p>
            </div>
            <div class="team-member">
                <img src="{% static "img/team5.jpg" %}" alt="Фотография члена команды">
                <h3>Кузнецов Максим</h3>
                <p>Аналитик</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}