{% extends "main/base.html" %}
{% load static %}


{% block css %}
    {% comment %} Стили, картинки, скрипты и тп. подгружать следующим образом: {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static "css/..." %}"> {% endcomment %}
{% endblock %}

{% block content %}
    {% comment %} Контент главной страницы {% endcomment %}
    <h1>Это главная страница</h1>
    <p>(На самом деле это не главная страница, а страница "О нас")</p>
    {{ content }}
{% endblock %}

{% block footer %}
    {% comment %} Подвал главной страницы {% endcomment %}
{% endblock %}