{% comment %} 
    В этом файле должна находиться базовая разметка для всех страниц сайта. 
    Базовая разметка включает в себя, например:
        - Шапку (header)
        - Подвал (footer)
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} Стили, картинки, скрипты и тп. подгружать следующим образом: {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static "css/..." %}"> {% endcomment %}

    {% block css %}{% endblock %}

    <title>{{ title }}</title>
</head>
<body>
    <header>
        {% comment %} Header ! {% endcomment %}
        <div class="container">
            <h1>FirstUnicorn</h1>
            <nav>
                <ul>
                    <li><a href="{% url "main:index" %}">Главная</a></li>
                    <li><a href="{% url "vacancies:index" %}">Вакансии</a></li>
                    <li><a href="{% url "main:about" %}">О нас</a></li>
                    <li><a href="{% url "main:profile" %}">Профиль</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% comment %} Footer ! {% endcomment %}
        <div class="container">
            <p>&copy; 2024 FirstUnicorn</p>
        </div>
    </footer>
</body>
</html>