{% comment %} 
    В этом файле должна находиться базовая разметка для всех страниц сайта. 
    Базовая разметка включает в себя, например:
        - Шапку (header)
        - Подвал (footer)
{% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        {% comment %} Header ! {% endcomment %}

        <div class="container">
            <h1>FirstUnicorn</h1>
            <nav>
                <a href="{% url "main:index" %}">Главная</a>
                <a href="{% url "vacancies:index" %}">Вакансии</a>
                <a href="{% url "main:about" %}">О нас</a>

                {% comment %}
                <a href="register.html">Регистрация</a>
                <a href="login.html">Вход</a>

                <a href="add-ad.html" style="display: none;">Добавить объявление</a>
                <a href="profile.html" style="display: none;">Профиль</a>
                <a href="#" style="display: none;">Выход</a>
                {% endcomment %}
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>Copyright &copy; FirstUnicorn 2024</p>
        </div>
    </footer>
</body>
</html>