{% extends "main/base.html" %}
{% load static %}


{% block content %}
{% comment %} Контент главной страницы {% endcomment %}

<div class="container">
    <section id="company-info">
        <h2>Добро Пожаловать!</h2>
        <p>Наш сайт поможет вам найти лучших специалистов в сфере механообработки, слесарного и токарного дела. Здесь вы можете найти исполнителей для своих проектов или показать свои работы потенциальным заказчикам. Регистрация бесплатна и занимает всего несколько минут!</p>
    </section>
    
    <section id="ads">
        <h3>Здесь вы можете посмотреть самые востребованные услуги:</h3>
            <div id="ads-list">
                {% for vacancy in popular_vacancies %}
                    <div class="ad-item">
                        <h3><a href="#">{{ vacancy.name }}</a></h3>
                        <p>{{ vacancy.description }}</p>
                        <p>Срок: <b>{{ vacancy.make_time }}</b></p>
                        <p>Стоимость: <b>{{ vacancy.price }}</b> руб.</p>
                        <div class="ad-photos">
                            {% if vacancy.image %}
                                <img src="{{ vacancy.image.url }}" alt="Фото объявления">
                            {% else %}
                                <img src="{% static "img/img_not_found.png" %}" alt="Фото объявления">
                            {% endif %}
                        </div>
                        <p>Опубликовано: {{ vacancy.author_link }}
                    </div>
                {% endfor %}
            </div>
    </section>
</div>

{% endblock %}