{% extends "main/base.html" %}
{% load static %}


{% block css %}
    {% comment %} Стили, картинки, скрипты и тп. подгружать следующим образом: {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static "css/style.css" %}"> {% endcomment %}
{% endblock %}

{% block content %}
<section class="form-section">
    <h2>Регистрация</h2>
    <form>
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" required>
        
        <label for="password">Пароль:</label>
        <input type="password" name="password" required>
        
        <button type="submit">Зарегистрироваться</button>
    </form>
</section>
<section class="form-section">
    <h2>Вход</h2>
    <form>
        <label for="login-username">Имя пользователя:</label>
        <input type="text" name="login-username" required>
        
        <label for="login-password">Пароль:</label>
        <input type="password" name="login-password" required>
        
        <button type="submit">Войти</button>
    </form>
</section>
{% endblock %}